.dashboard-container {
  margin: 20px auto;
  color: #eae5e5;
  padding-top: 4rem;
  padding-left: 5rem;
  padding-right: 5rem;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.dashboard-header h2 {
  margin: 0;
}

.sign-out {
  background-color: #ef4444;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 0rem;
}

.user-details {
  display: flex;
  align-items: center;
  background: #131416;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.user-avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info {
  flex: 1;
}

.editprofilebutton {
  background-color: #2563eb;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.edit-profile-form {
  background: #222;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.edit-profile-form label {
  display: block;
  margin: 5px 0 3px;
  color: #eae5e5;
}

.edit-profile-form input {
  width: 90%;
  padding: 6px;
  border: 1px solid #eae5e5;
  border-radius: 4px;
  background: #0d0a0a;
  color: white;
  margin-bottom: 10px;
}

.edit-buttons {
  display: flex;
  gap: 10px;
}

.edit-buttons button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-buttons-save {
  margin-top: 0.5rem;
  background-color: #10b981;
  color: white;
}

.edit-buttons-cancel {
  margin-top: 0.5rem;
  margin-left: 1rem;
  background-color: #ef4444;
  color: white;
}

.dashboard-section {
  background: #131416;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.dashboard-section h3 {
  margin: 0 0 5px;
}

.note {
  font-size: 0.9rem;
  color: #f59e0b;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: #0e0c0c;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
  position: relative;
}

.close-popup-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #ef4444;
}

.close-popup-button:hover {
  background-color: #d03f22;
}

input {
  width: 80%;
  padding: 8px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.confrim-password-btn {
  background: #10b981;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confrim-password-btn:hover {
  background: #10b981;
}

.success-text {
  color: #10b981;
  margin-top: 10px;
  font-size: 0.9rem;
}

.error-text {
  color: #ef4444;
  margin-top: 10px;
  font-size: 0.9rem;
}

.sales-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.sales-table th,
.sales-table td {
  border: 1px solid #ef4444;
}

.sales-table th {
  padding: 0.5rem;
}

.sales-table td {
  padding: 0.3rem;
  font-size: 0.9rem;
  color: #acb0b4;
}

.total-row {
  font-weight: bold;
  background-color: #131416;
}

.enter-amount-field {
  width: 50%;
}

.generate-amount-btn {
  margin-left: 1rem;
  padding: 0.6rem 1rem;
  border-radius: 10px;
  background-color: #10b981;
  color: white;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #2a2727;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.2);
  text-align: center;
  animation: fadeIn 0.5s ease-in-out;
}

.loading-container p {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-top: 6px solid #ec4527;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.discount-code-form {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 700px) {
  .dashboard-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .dashboard-header {
    flex-direction: column;
    align-items: center;
  }
  .dashboard-header.mobile {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .sign-out-mobile-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.2rem;
    margin-top: 2rem;
  }
  .user-details {
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    margin-bottom: 0.7rem;
  }
  .user-details.mobile {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 0.7rem;
  }
  .editprofilebutton-mobile-row {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0rem;
  }
  .user-avatar {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .user-info {
    margin-bottom: 0.7rem;
  }
  .discount-code-form.mobile {
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
  }
  .discount-code-form.mobile .enter-amount-field {
    width: 80% !important;
    max-width: 260px;
    margin-bottom: 0.5rem;
  }
  .discount-code-form.mobile .generate-amount-btn {
    width: 80%;
    max-width: 260px;
  }
}
